@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="mt-4 p-4 bg-primary text-white rounded">
        <h1 class="display-4">Welcome to Anime Store</h1>
        <h2 class="display-4">By Rodrigo Lopez</h2>
        <hr>
        <p>
            Do you like anime? do you enjoy playing with figures? Do you like collecting figures?
            This Page focuses on anime figures of the main 90s Japanese anime
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <img src="/images/Logo_Saint.jpg" alt="logo01" class="img-thumbnail" />
        </div>
        <br />
        <div class="col text-center">Saint Seiya also known as Saint Seiya: Knights of the Zodiac or Knights of the Zodiac, is a Japanese manga series written and illustrated by Masami Kurumada.  The story follows five mystical warriors called the Saints who fight wearing sacred sets of armour the designs of which derive from the various constellations the characters have adopted as their destined guardian symbols. The Saints have sworn to defend the reincarnation of the Olympian goddess Athena in her battle against other gods who want to dominate Earth.</div>
    </div>

    <div class="row">
        <br />
        <div class="col text-center">Slam Dunk premiered in 1994. It tells the story of a basketball team from Shohoku High School in the Shonan area of Japan. The team wants to participate in the national competition, and they have to classify to have a spot in it.</div>
        <div class="col">
            <img src="/images/Logo_slam.jpg" alt="logo02" class="img-thumbnail" />
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <img src="/images/Logo_Hunter.jpg" alt="logo03" class="img-thumbnail" />
        </div>
        <div class="col">
            <img src="/images/Logo.jpg" alt="logo04" class="img-thumbnail" />
        </div>
    </div>
</div>
